body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cartIconContainer {
  position: relative
}

#cartCount {
  background-color: yellow;
  border-radius: 50%;
  padding: 2px 4px;
  position: absolute;
  right: 0px;
  top: -10px;
}

#cartIcon {
  height: 32px;
  width: 40px;
  /* margin-right: 30px; */
}

.cart-div{
  display: flex;
  border-bottom: 1px solid gray;
  height: auto;
  width: 400px;
}

.cart-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.cart-details{
  margin: 10px
}

.qty-btn{
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.delete-btn{
  background-color: white;
  border: none;
}